---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import { getPermalink } from '~/utils/permalinks';
import weddingheadshot from '../assets/images/weddingheadshot.jpg';
import smallBusinessImage from '../assets/images/jonah foster small business sites.webp';
import landingPageImage from '../assets/images/jonah foster landing page site.webp';
import webAppImage from '../assets/images/jonah foster web app.png';

const metadata = {
  title: 'Jonah Foster | Portfolio',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Home', href: '#' },
        { text: 'About', href: '#about' },
        { text: 'Resume', href: '#resume' },
        { text: 'Porfolio', href: '#porfolio' },
        { text: 'Github', href: 'https://github.com/JonahFoster' },
      ]}
      actions={[
        {
          text: 'Contact me',
          href: getPermalink('/contact#form'),
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero
    id="hero"
    title="Jonah Foster"
    tagline="Web Developer"
    actions={[{ variant: 'primary', text: 'Contact me', href: getPermalink('/contact#form') }]}
  >
    <Fragment slot="subtitle">
      I'm a Web Developer that truly loves building. <br /> With years of experience and a degree from
      the University of Florida, I come prepared for any project, whether it be creating a next generation web application
      or a landing page for your new product.
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-linkedin',
        callToAction: {
          target: '_blank',
          text: 'LinkedIn',
          href: 'https://www.linkedin.com/in/jonahfoster/',
        },
      },
      {
        icon: 'tabler:brand-github',
        callToAction: {
          target: '_blank',
          text: 'Github',
          href: 'https://github.com/JonahFoster',
        },
      },
      {
        icon: 'tabler:brand-twitter',
        callToAction: {
          target: '_blank',
          text: 'Twitter',
          href: 'https://twitter.com/thejonahfoster',
        },
      },
    ]}
    image={{
      src: weddingheadshot,
      alt: 'Colorful Image',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About me</h2>
      <p>
        I am a web developer passionate about solving problems. Whether I'm learning new web technologies through
        Scrimba or working on my own projects, my goal is always to create digital experiences that are accessible and
        user-friendly. With each project, I strive to make the web a better space.
      </p>
      <br />
      <p>Away from the keyboard, I enjoy hiking the many trails in North Florida or reading while I sip coffee.</p>
      <br />
      <p>If you're curious to dive deeper into my work, you can follow me:</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Work experience"
    items={[
      {
        title:
          'Freelance Web Developer <br /> <span class="font-normal">Upwork</span> <br /> <span class="text-sm font-normal">July 2024 - Present</span>',
        description: ` • Designed, developed, and managed websites for over 25 clients on Upwork with a variety of web platforms including 
WordPress, WebFlow, and Astro. <br /> • Implemented custom CMS systems to allow clients to manage content on custom coded sites without having to rely on an 
external developer. <br /> • Utilized Figma to create high fidelity design mockups, collaborating with clients to ensure alignment with all stakeholders.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'React Engineer <br /> <span class="font-normal">Not All Talk</span> <br /> <span class="text-sm font-normal">January 2024 - July 2024</span>',
        description: `• Played a pivotal role in the early stages of a startup using AI to revolutionize accounting <br /> • Designed and implemented several user-facing features, with some going from idea to production in just one week. <br /> • Collaborated with the backend team to integrate user-facing elements with server-side logic`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Full Stack Developer Intern <br /> <span class="font-normal">Vertex Med Solutions</span> <br /> <span class="text-sm font-normal">August 2023 - December 2023</span>',
        description: `• Developed a dynamic questionnaire score calculator for the Vertex360 Platform, ensuring a 100% assessment accuracy.
 <br /> • Ensured that community resources were accurately listed as active using JavaScript and the OpenAI API.
 <br /> • Gained hands on experience using React and Node.js in a production environment.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Web Intern <br /> <span class="font-normal">UF CPET</span> <br /> <span class="text-sm font-normal">January 2023 - April 2023</span>',
        description: `• Collaborated with the Primary Web Coordinator to update the website.
 <br /> • Created and published website content for CPET using Terminalfour in addition to HTML and CSS, ensuring that online material is up-to-date, accurate, and consistent with the organization's mission.
 <br /> • Conducted regular website audits and content reviews, identifying and fixing errors and inconsistencies on the website to 
ensure a seamless user experience`,
        icon: 'tabler:briefcase',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Education Widget ****************** 

  <Steps
    id="resume"
    title="Education"
    items={[
      {
        title: `Bachelor of Arts in History <br /> <span class="font-normal">University of Florida</span> <br /> <span class="text-sm font-normal">2020 - 2024</span>`,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />-->

  <!-- Content Widget **************** -->

  <Content
    id="porfolio"
    title="Building Spectacular Sites"
    subtitle="Feel free to check out some of my best projects below. You'll find a some small business websites, a landing page, and a full-stack web app."
    isReversed
    items={[
      {
        title: 'Description:',
        description:
          'Two fast, SEO optimized websites for small businesses. One is Gainesville Web Design, my own web design business, and the other is Catalyst Consulting, a consulting firm.',
      },
      {
        title: 'Role:',
        description:
          'For Catalyst Consulting, I was hired to assist in a rebrand. I led the full design and development of the site, including implementing Decap CMS, optimizing for SEO, and ensuring full responsiveness. For Gainesville Web Design, I designed and developed it to show off my web development services.',
      },
    ]}
    image={{
      src: smallBusinessImage,
      alt: 'Mockups of Gainesville Web Design and Catalyst Consultings homepage',
      layout: "fill",
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: 'https://www.gnvwebdesign.com/',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
       Small Business Websites <br /><span class="text-2xl">GNV Web Design & Catalyst Consulting</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description:
          'Built in Webflow to advertise an upcoming church conference for The Father’s House. The site is fully responsive and features interactive animations.',
      },
      {
        title: 'Role:',
        description: `Hired via Upwork to develop this site from a Figma design. Finished the full project, including responsiveness across all devices, in about a week.`,
      },
    ]}
    image={{
      src: landingPageImage,
      alt: 'A mockup of the mobile site for TFH Church Conference',
      layout: "fill",
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: 'https://tfhconference.com/',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Landing Page <br /><span class="text-2xl">TFH Church Conference</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description: `A site containing the stats from every college baseball player since 2020. My first solo full-stack project, I went through many iterations on the architecture of the site until ending with a React.js frontend with Firebase handling the backend. Stats are collected using the college-baseball Python library.`,
      },
      {
        title: 'Role:',
        description: `Led the design and development of both the frontend and backend. The frontend is simple compared to most projects I've done, I used the MaterialUI component library. I wanted the focus to be on the players and their stats.`,
      },
    ]}
    image={{
      src: webAppImage,
      alt: 'A picture of College Baseball Stats',
      layout: "fill",
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Full-Stack Web App <br /><span class="text-2xl">College Baseball Stats</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="Client testimonials"
    subtitle="Discover what clients have to say about their experiences working with me."
    testimonials={[
      {
        testimonial: `To all of my entrepreneur friends and peers, and anyone looking to make the leap to a professional website and polished online presence - I can’t recommend Jonah and his crew enough!`,
        name: 'Ryan Bowman',
        job: 'Founder, Catalyst Consulting',
      },
      {
        testimonial: `Jonah was super personable and worked with me and my companies marketing budget. We appreciate him & his help on our site.`,
        name: 'Kallie Smith',
        job: 'Watford Engineering',
      },
      {
        testimonial: `Jonah was very responsive and really listened to what I wanted with my website. I will definitely work with again.`,
        name: 'Maureen Fitzsimmons',
        job: 'Tampa Bay Luxury AV',
      },
      {
        testimonial: `Jonah was quick to respond and understood what I needed help with right away. He was thorough with his work and very detail oriented. I would definitely work with Jonah again.`,
        name: 'Jason McCord',
        job: 'Founder, Hometrics',
      },
      {
        testimonial: `Jonah was outstanding! I needed a second set of eyes and an expert with website/web page design prowess and Jonah fit the bill. I will be using Jonah for all website design changes moving forward.`,
        name: 'Frank Greco',
        job: 'MyFamilyPlan',
      },
      {
        testimonial: `Jonah was extremely responsive and technically proficient. I've already hired him for a second project, and plan to do more in the future!`,
        name: 'David Peterson',
        job: 'Bethesda Dog Walking',
      },
    ]}
  />

  <!-- Features3 Widget ************** 

  <Features3
    title="Skills"
    subtitle="Discover the proficiencies that allow me to bring imagination to life through design."
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'Website Design',
        description: 'Proficient in crafting visually appealing designs that convey messages effectively.',
      },
      {
        title: 'Branding and identity',
        description: 'Skilled at developing cohesive brand identities, including logos and brand guidelines.',
      },
      {
        title: 'User-centered design',
        description: 'Experienced in creating user-friendly interfaces and optimizing user experiences.',
      },
      {
        title: 'Adobe Creative Suite',
        description: 'Skilled in using Photoshop, Illustrator, and InDesign to create and edit visual elements.',
      },
      {
        title: 'Typography',
        description: 'Adept in selecting and manipulating typefaces to enhance design aesthetics.',
      },
      {
        title: 'Color theory',
        description: 'Proficient in using color to evoke emotions and enhance visual harmony.',
      },
      {
        title: 'Print and digital design',
        description: 'Knowledgeable in designing for both print materials and digital platforms.',
      },
      {
        title: 'Attention to detail',
        description: 'Diligent in maintaining precision and quality in all design work.',
      },
      {
        title: 'Adaptability',
        description: 'Quick to adapt to new design trends, technologies, and client preferences.',
      },
    ]}
  />-->

  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="Let's create together"
    subtitle="Ready to drive growth through a stronger web presence?"
    actions={[
      {
        variant: 'primary',
        text: 'Contact me',
        href: '/contact#form',
      },
    ]}
  />

  <!-- BlogLatestPost Widget **************** 

  <BlogLatestPosts
    id="blog"
    title="Explore my insightful articles on my blog"
    information={`Dive into a realm of design wisdom and creative inspiration, where you'll find invaluable insights, practical tips, and captivating narratives that elevate and enrich your creative journey.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>-->
</Layout>
